@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HankRnd';
  src: url('./assets/fonts/HankRnd-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'HankRnd';
  src: url('./assets/fonts/HankRnd-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeueRoman.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeueBold.otf') format('opentype');
  font-weight: 700;
}

@layer base {
  :root {
    --color-primary: #0128ec;
    --color-secondary: #272728;
    --color-background: #ffffff;
    --color-support: #cacdd8;
    --font-primary: 'HankRnd', sans-serif;
    --font-secondary: 'HelveticaNeue', sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-primary);
    background-color: #ffffff;
    color: #272728;
  }

}

